@media only screen and (max-width: 1024px) {
    :root {
        --font-112-: 10rem;
        --sun-heading: 3.2rem;
        --font-18: 1.6rem;
        --font-25: 2.2rem;
    }
    .container {
        width: 95%;
    }
    .menu__logo img {
        margin-right: 0px;
    }
    .menu__links {
        display: none;
    }
    .menu__button {
        display: block;
    }
    .video {
        margin-top: 50px;
    }
    .business {
        margin-bottom: 50px;
    }
    .business__main {
        margin-top: 30px;
    }
    .business__items--subtitle {
        font-size: 14px;
    }
    .business__items--button {
        height: 64px;
        line-height: initial;
    }
    .project__main--slide {
        margin: 0 0 30px 0;
    }
    .number__title {
        left: 205px;
    }
    .career__detail--title {
        font-size: 40px;
    }
    .career__detail--description {
        font-size: 22px;
    }
    .career__detail--subdesc, .work__content--title {
        font-size: 16px;
    }
    .career {
        margin-bottom: 50px;
    }
    .workplace__content--wrap ul li {
        font-size: 15px;
    }
    .label {
        bottom: -35px;
        left: 55%;
    }
    .business__items--2::before {
        content: none;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --sun-heading: 2.4rem;
        --font-24: 1.6rem;
        --font-112: 6.5rem;
    }
    .business__main, .business__items, .project__main, .workplace, .sun-news__slide, .footer-layout, .contact {
        flex-wrap: wrap;
    }
    .business__main--content, .business__main--image, .business__items--1, .business__items--2, .project__main--count, .project__main--slide, .workplace__content, .workplace__image, .sun-news__slide--item, .footer__logo, .footer__about--1, .footer__about--2, .contact__left, .contact__right {
        width: 100%;
    }
    body {
        font-size: 14px;
    }
    .menu .container {
        height: 60px;
    }
    .business__main {
        height: auto;
    }
    .project__main .business__items--button {
        margin: 50px auto;
    }
    .contact__left {
        margin-bottom: 30px;
    }
    .contact__right {
        justify-content: space-between;
    }
    .item-preview {
        height: 60px;
    }
    .business {
        margin-top: 0;
    }
    .business__items--1, .business__items--2 {
        margin: 15px 0;
    }
    .number__title {
        left: 145px;
        top: -30px;
    }
    .sun-news .business__items--button {
        width: 90%;
    }
    .footer {
        padding: 20px 0 0 0;
    }
    .career .business__items--button {
        width: 90%;
    }
    .project__main--slide {
        top: -20px;
    }
    .slide-item {
        width: 85%;
    }
    .label.next {
        right: 18%;
    }
    .menu__mobile {
        top: 55px;
    }
    .partner__total {
        padding-left: 30px;
    }
}